[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
rich = "*"
toml = "*"
gitpython = "*"
dparse = "*"
logomaker = "*"
numpy = "*"
matplotlib = "*"
pandas = "==1.4.0"
datasette = "*"
hdbscan = "*"
csvs-to-sqlite = "*"

[dev-packages]

[requires]
python_full_version = "3.8.8"
